@font-face {
  font-family: "gagalin";
  src: url("./../fonts/gagalin/Gagalin-Regular.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "lifehack";
  src: url("./../fonts/lifehack/Lifehack-Medium.woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu/Ubuntu.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu/Ubuntu-Bold.woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu/Ubuntu-Light.woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu/Ubuntu-Medium.woff");
  font-style: normal;
  font-weight: 500;
}