* {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
}

html {
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 14px;
  }
}

body {
  font-family: "Ubuntu";
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; 
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

p {
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  position: relative;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 940px;
  width: 95%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  
  &__hero {
    justify-content: flex-start;
  }
  
  &__burgers {
    max-width: 1007px;
  }

  &__footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include phones {
      flex-direction: column;
    }
  }
}