.arrow-scroll {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-scroll__link {
  display: block;
  width: 29px;
  height: 14px;
}

.arrow-scroll__icon {
  width: 29px;
  height: 14px;
  fill: #fff;
}