.best {
  background: url("./../img/bg/bg.png") center / cover no-repeat;
}

.best__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(29px);

  @include phones {
  flex-direction: column;
  }
}