.btn {
  display: inline-block;
  padding: 0.6875rem 0.9375rem;
  font-size: 0.8125rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: .3s;
  
  &--order {
    background-color: $tomato;

    &:hover {
      background-color: #c1401e;
    }
  }

  &--detail {
    background-color: $dark-grey;

    &:hover {
      background-color: #1f2122;
    }
  }

  &--reset {
    background-color: transparent;
    text-transform: none;
    font-size: 0.875rem;
    font-weight: 300;
  }
}