.btn {
  display: inline-block;
  padding: rem(11px) rem(15px);
  font-size: rem(13px);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: .3s;
  
  &--order {
    background-color: $tomato;

    &:hover {
      background-color: #c1401e;
    }
  }

  &--detail {
    background-color: $dark-grey;

    &:hover {
      background-color: #1f2122;
    }
  }

  &--reset {
    background-color: transparent;
    text-transform: none;
    font-size: rem(14px);
    font-weight: 300;
  }
}