.features {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__pic {
  margin-bottom: 35px;
}

.features__icon {
  &--meat {
    width: 97px;
    height: 89px;
    fill: #e25028;
  }
  
  &--hand {
    width: 73px;
    height: 85px;
    fill: #f8b43a;
  }
  
  
  &--natural {
    width: 88px;
    height: 75px;
    fill: #8ac03e;
  }
}

.features__title {
  font-family: "lifehack";
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.features__desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  opacity: .8;
}