.footer {
  padding-top: 0.625rem; 
  padding-bottom: 0.75rem; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000 url("./../img/bg/bg-footer.png") repeat;
}

.footer__contacts,
.footer__social {
  width: 50%;

  @include phones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
  }
}

.footer__contacts {
  font-style: normal;
  font-size: 0.875rem;

  @include phones {
    margin-bottom: 1.125rem;
    font-size: 0.875rem;
  }
}

.footer__address {
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}

.footer__phone {
  display: flex;
  align-items: center;
  color: $tomato;
  font-weight: bold;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.footer__phone-icon {
  width: 12px;
  height: 11px;
  margin-right: 10px;
  fill: $tomato;
}