.header {
  display: flex;
  margin-top: 0.75rem;
}

.header__buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  margin-top: -8px;
}

.header__btn {
  margin-left: 0.9375rem;
}