.header {
  display: flex;
  margin-top: rem(12px);
}

.header__buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  margin-top: rem(-8px);
}

.header__btn {
  margin-left: rem(15px);
}