.hero {
  background: url("./../img/bg/texture.png") center / cover no-repeat;
}

.hero__content {
  flex: 0.71;
  display: flex;
  align-items: center;
  justify-content: center;

  @include phones {
    flex: 0.87
  }
}

.hero__content-wrap {
  display: flex;
  align-items: center;
  padding-left: 20px;
  
  @include tablets {
    flex-direction: column;
    padding: 0 15%;
  }
}

.hero__content-pic {
  margin-right: 0.6875rem;
  
  @include tablets {
    margin-right: 0;
  }
}

.hero__content-pic-img {
  max-width: 451px;
  
  @include phones {
    max-width: 361px;
  }
}

.hero__content-desc {
  margin-top: 4.1rem;
  font-weight: 500;

  @include tablets {
    margin-top: 2.5rem;
    text-align: center;
  }
}

.hero__content-text {
  font-family: "lifehack";
  font-size: 4.0625rem;
  line-height: 1;
  color: #fff;

  @include phones {
    font-size: 3.375rem;
  }
}

.hero__content-img {
  max-width: 451px;
}