.hero {
  background: url("./../img/bg/texture.png") center / cover no-repeat;
}

.hero__content {
  flex: .8;
  display: flex;
  align-items: center;
}

.hero__content-pic-img {
  max-width: 451px;
}

.hero__content-desc {
  margin-top: 5rem;
  font-weight: 500;
}

.hero__content-text {
  font-family: "lifehack";
  font-size: 4.0625rem;
  line-height: 1;
  color: #fff;
}

