.menu-cross {
  display: none;
  position: absolute;
  top: rem(32px);
  right: rem(32px);
  z-index: 30;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: rem(24px);
    height: rem(5px);
    border-radius: 3px;
  }

  &::before {
    transform: rotate(-45deg) ;
  }

  &::after {
    transform: rotate(45deg) ;
  }
}