.nav {
  @include tablets {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item{
  display: flex;
  align-items: center;
  margin-right: 1rem;

  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin-left: 1rem;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.nav__link {
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: .5s;

  &:hover {
      border-bottom: 1px solid #fff;
  }
}