.nav {
  @include tablets {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item{
  display: flex;
  align-items: center;
  margin-right: rem(16px);

  &::after {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;
    margin-left: rem(16px);
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.nav__link {
  display: inline-block;
  font-size: rem(13px);
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: .5s;

  &:hover {
      border-bottom: 1px solid #fff;
  }
}