.nav {
  @include tablets {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(47, 50, 52, 0.99);
    z-index: 20;
  }
}

.nav__list {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.nav__item{
  display: flex;
  align-items: center;
  margin-right: rem(16px);

  &::after {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;
    margin-left: rem(16px);

    @include tablets {
      margin-left: 0;
      margin-top: rem(16px);
    }
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  @include tablets {
    margin-right: 0;
    flex-direction: column;
    margin-bottom: rem(16px);
  }
}

.nav__link {
  display: inline-block;
  font-size: rem(13px);
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: .5s;

  &:hover {
      border-bottom: 1px solid #fff;
  }

  @include tablets {
    font-size: rem(24px);
  }
}