.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}

.reviews__pic  {
  height: 100%;
}

.reviews__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.reviews__hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3.125rem 1.1875rem;
  color: #fff;
  background: rgba(000, 000, 000, .6);
  opacity: 0;
  transition: opacity .3s;
}

.reviews__title {
  font-family: "gagalin";
  font-size: 0.875rem;
  margin-bottom: 1.1625rem;
}

.reviews_desc {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.71;
  margin-bottom: 1.0625rem;
}
