.section-title {
  font-family: "Gagalin";
  font-size: 4.5rem;
  line-height: 1;
  // margin-bottom: 2.8125rem;

  &--color-orange {
    color: $orange;
  }

  &--color-black {
    color: $dark-grey;
  }

  &--color-white {
    color: #fff;
  }

  &--centered {
    text-align: center;
  }

  &--hero {
    margin-bottom: 1.6rem;;
  }

  &--best {
    margin-bottom: 3.375rem;
  }

  &--team {
    margin-bottom: 2.9375rem;
  }
}