.section-title {
  font-family: "Gagalin";
  font-size: 4.5rem;
  line-height: 1;
  // margin-bottom: 2.8125rem;
  
  &--hero {
    margin-bottom: 1.6rem;;
    color: $orange;
  }
  
  &--best {
    margin-bottom: 3.375rem;
    text-align: center;
  }
  
  &--team {
    margin-bottom: 2.9375rem;
    color: $orange;
  }

  &--menu {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 7%;
  }
  
  &--order {
    margin-bottom: 2.75rem;
    color: $orange;
    text-align: center;
  }
}