.section-title {
  font-family: "Gagalin";
  font-size: rem(72px);
  line-height: 1;
  // margin-bottom: 2.8125rem;
  
  @include phones {
    font-size: rem(50px);
  }

  &--hero {
    margin-bottom: rem(25.6px);
    color: $orange;

    @include phones {
      font-size: rem(72px);
    }
  }
  
  &--best {
    margin-bottom: rem(54px);
    text-align: center;

    @include phones {
      font-size: rem(56px);
      margin-bottom: rem(38px);
    }
  }
  
  &--burger-slider {
    color: #fff;
    // margin-bottom: rem(82px);
    position: relative; 
    bottom: rem(40px);
    
    @include tablets {
      position: static; 
      bottom: auto;
      margin-top: rem(26px);
    }

    @include phones {
      padding: 0 11% 0 11%;
    }
  }

  &--team {
    margin-bottom: rem(47px);
    color: $orange;
  }

  &--menu {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 7%;
  }
  
  &--order {
    margin-bottom: rem(44px);
    color: $orange;
    text-align: center;
  }
}