.team-accordeon {
  width: 49%;
  background-color: rgba($dark-grey, .93);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 6rem 5rem 0 6.25rem;
  color: #fff;
  font-size: 0.875rem;
}

.team-accordeon__item {
  padding-left: 1.1875rem;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    border-top: 7px solid #f9b43b;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    top: 5px;
    left: 0;
  }

  &--active {
    
    &::before {
      transform: rotate(180deg);
    }

    .team-accordeon__desc {
      height: auto;
      margin-top: 0.8125rem;
    }

    .team-accordeon__title {
      color: $orange;
    }
  }

} 

.team-accordeon__title {
  text-transform: uppercase;
  font-family: "Gagalin";
  cursor: pointer;
} 

.team-accordeon__desc {
  display: flex;
  align-items: stretch;
  height: 0;
  overflow: hidden;
} 

.team-accordeon__pic {
  margin-right: 20px;
} 

.team-accordeon__avatar {
  border-radius: 50%;
} 

.team-accordeon__heading {
  font-weight: bold;
  margin-bottom: 1rem;
} 

.team-accordeon__text-desc {
  font-weight: 300;
  line-height: 1.71;
  max-width: 240px;
}





